@model ReviewR.Web.ViewModels.ChangeDetailViewModel

@{
    ViewBag.Title = "View";
}

<h1>@Model.Review.Name</h1>
<div class="row-fluid">
    <div class="well span2">
        @Html.Partial("_FileList", Model.Review)
    </div>
    <div class="span8">
        @Html.Partial("_DiffView", Model.Diff)
    </div>
</div>
