/* Header/Nav Bar */
body {
    padding-top: 40px;
}

    body > header {
        width: 100%;
    }

/* Forms */
fieldset.no-legend legend {
    display: none;
}

form fieldset ol {
    margin: 0;
    padding: 0;
}

    form fieldset ol li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

.modal form {
    margin: 0;
}
    
/* Inputs */
