/* System styles */
.sys {
    display: none
}

/* Header/Footer */
body {
    padding-top: 40px;
    font-family: 'Segoe UI', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

    body > header {
        width: 100%;
    }

/* Nav Bar */
nav img {
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
}

/* Forms */
fieldset.no-legend legend {
    display: none;
}

.form ol {
    margin: 0;
    padding: 0;
}

    .form ol li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

/* General */
h1 {
    padding-bottom: 10px;
}

p em {
    font-size: 12pt;
}

/* Diff Viewer */
table.diff-view {
    position: relative;
    width: 100%;
    border: 1px solid #CCC;
}

    table.diff-view td.diff-line {
        font-family: Consolas, 'Courier New', monospace;
    }

        table.diff-view td.diff-line pre {
            padding: 0;
            margin: 0;
            background: none;
            border: none;
        }

    table.diff-view tr td.diff-linenum {
        background-color: #ececec;
        color: #aaa;
        padding: 0 0.5em;
        text-align: right;
        width: 10px;
    }

    table.diff-view tr:hover td.diff-line {
        background-color: #ffb;
    }

    table.diff-view tr.diff-hunk-header td.diff-line {
        background-color: #EAF2F5;
    }

        table.diff-view tr.diff-hunk-header td.diff-line pre {
            color: #999;
        }

        table.diff-view tr.diff-hunk-header td.diff-line:hover pre {
            filter: alpha(opacity=75);
            -moz-opacity: 0.75;
            opacity: 0.75;
        }

    table.diff-view tr.diff-added td.diff-line {
        background-color: #dfd;
    }

    table.diff-view tr.diff-added:hover td.diff-line {
        filter: alpha(opacity=75);
        -moz-opacity: 0.75;
        opacity: 0.75;
    }

    table.diff-view tr.diff-removed td.diff-line {
        background-color: #fdd;
    }

    table.diff-view tr.diff-removed:hover td.diff-line {
        filter: alpha(opacity=75);
        -moz-opacity: 0.75;
        opacity: 0.75;
    }

    table.diff-view tr td.diff-line i.diff-add-comment-button {
        position: absolute;
        left: 0;
        padding-right: 5px;
        margin-left: -15px;
        margin-top: 3px;
        cursor: pointer;
        display: none;
    }

    table.diff-view tr:hover td.diff-line i.diff-add-comment-button {
        display: inline-block;
    }

tr.diff-comments td.diff-comment-container .well {
    margin: 10px 5px 10px 5px;
    padding: 5px;
}

tr.diff-comments td.diff-comment-container ol {
    margin: 0;
    padding: 0;
}

    tr.diff-comments td.diff-comment-container ol li {
        list-style-type: none;
        padding-bottom: 10px;
    }

div.diff-comment-meta {
    padding: 5px;
    padding-bottom: 10px;
    border: 1px solid #CCC;
    border-bottom: none;
}

    div.diff-comment-meta img {
        position: relative;
        top: 5px;
    }

div.diff-comment-body {
    background-color: white;
    padding: 5px;
    border: 1px solid #CCC;
    min-height: 30px;
}

    div.diff-comment-body:hover p.diff-comment-actions {
        display: block;
    }

p.actions {
    margin-top: 10px;
    margin-left: 12px;
}

p.diff-comment-actions {
    display: none;
}

abbr.timeago {
    text-transform: none;    
}

div.fixed-list {
    
}