<h1>Your Dashboard</h1>
<div class="well">
    <ul class="nav">
        <li class="nav-header">Created by you</li>
        <!-- ko foreach: createdReviews -->
        <li><a data-bind="attr: { href: url }, text: title"></a></li>
        <!-- /ko -->
        <li data-bind="if: (!loading() && createdReviews().length === 0)">No reviews!</li>
        <li data-bind="if: loading()">Loading...</li>
        <li class="nav-header">Assigned to you</li>
        <!-- ko foreach: assignedReviews -->
        <li><a data-bind="attr: { href: url }, text: title"></a></li>
        <!-- /ko -->
        <li data-bind="if: (!loading() && assignedReviews().length === 0)">No reviews!</li>
        <li data-bind="if: loading()">Loading...</li>
    </ul>
</div>
<div class="appbar well" data-bind="if: rR.app.currentUser().loggedIn()">
    <button type="button" class="btn btn-primary" data-bind="click: showNewReview"><i class="icon-plus icon-white"></i> New Review</button>
</div>