<h1>ReviewR!</h1>
<p>
    Welcome to ReviewR! Please <a href="#" data-bind="click: root().showLogin">Login</a> or <a href="#" data-bind="click: root().showRegister">Register</a> to start reviewing!
</p>
