<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div id="root">
        <h1>Home</h1>
        <p>
            You need to have an account before you can start submitting or participating in reviews. 
            Please <a href="/auth/login">Login</a> or <a href="/auth/register">Register for a new account</a>
        </p>
        <p>
            Welcome to ReviewR!
        </p>
    </div>
</body>
</html>
