@{
    ViewBag.Title = "Index";
}

<h1>Home</h1>
@if(!Request.IsAuthenticated) {
    <p>
        You need to have an account before you can start submitting or participating in reviews. 
        Please @Html.ActionLink("Login", "Login", "Account") or @Html.ActionLink("Register for a new account", "Register", "Account")
    </p>
} else {
    <p>
        Welcome to ReviewR. Visit your @Html.ActionLink("Review Dashboard", "Index", "Reviews").
    </p>
}