@model ReviewR.Web.ViewModels.DashboardViewModel

@{
    ViewBag.Title = "Index";
}

<h1>Reviews</h1>

<div class="well">
    <ul id="reviews" class="nav nav-list">
        <li class="nav-header">Reviews created by you.</li>
        @if (Model.CreatedReviews.Any())
        {
            foreach (var item in Model.CreatedReviews) 
            {
                <li>
                    <a href="@Url.Action("View", "Reviews", new { id = item.Id })">
                        <i class="icon-th-list"></i>
                        @item.Name
                    </a>
                </li>
            }
        } 
        else 
        {
            <li>You haven't submitted any reviews!</li>
        }
    </ul>
    <p class="actions">
        @Html.ActionLink("Submit a new Review", "New", "Reviews", null, new { @class = "btn btn-primary" })
    </p>
</div>