@model ReviewR.Web.ViewModels.DashboardViewModel

@{
    ViewBag.Title = "Index";
}

<h1>Your Reviews</h1>

<table class="table-bordered table-striped">
    <tr>
        <th>Name</th>
    </tr>

@foreach (var item in Model.Reviews) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "View", "Reviews", new { id = item.Id }, null)
        </td>
    </tr>
}
</table>
<p>
    @Html.ActionLink("Submit a new Review", "New", "Reviews", null, new { @class = "btn btn-primary" })
</p>