@using ReviewR.Web.Models;
@using Newtonsoft.Json;
@using Newtonsoft.Json.Serialization;
@{
    RolePrincipal user = User as RolePrincipal;
    ReviewRIdentity id = user.Identity as ReviewRIdentity;
    var userString = id == null ? "null" : JsonConvert.SerializeObject(id, new JsonSerializerSettings() { ContractResolver = new CamelCasePropertyNamesContractResolver() });
    var root = Href("~/");
    var env = System.Web.Configuration.WebConfigurationManager.AppSettings["Environment"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>ReviewR</title>
    <link rel="stylesheet" type="text/css" href="~/Content/themes/base/jquery.ui.all.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
</head>
<body>
    <div id="root">
        <a href="http://github.com/anurse/reviewr" target="_blank">
            <img style="position: absolute; top: 40px; right: 0; border: 0; z-index: 1000" src="https://a248.e.akamai.net/assets.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub">
        </a>
        <header class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="#">
                        ReviewR
                    </a>
                    <nav id="master-nav">
                        <ul class="nav" data-bind="visible: currentUser().loggedIn">
                            <li><a href="#">Dashboard</a></li>
                        </ul>
                    </nav>
                    <nav id="login-nav">
                        <ul class="nav pull-right">
                            <li class="dropdown" data-bind="visible: currentUser().loggedIn" style="display: none">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img data-bind="attr: { src: currentUser().gravatarUrl, alt: currentUser().email }" src="http://www.gravatar.com/avatar/00000000000000000000000000000000?s=16" alt="Not logged in" />
                                    <span data-bind="text: currentUser().displayName"></span>
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li data-bind="visible: currentUser().isAdmin"><a href="#">Database Admin</a></li>
                                    <li data-bind="visible: currentUser().isAdmin" class="divider"></li>
                                    <li><a href="#">Logout</a></li>
                                </ul>
                            </li>
                            <li data-bind="visible: !currentUser().loggedIn()"><a href="#" data-bind="click: showRegister">Register</a></li>
                            <li data-bind="visible: !currentUser().loggedIn()"><a href="#" data-bind="click: showLogin">Login</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <p class="alert alert-error" data-bind="ifnot: isProd">This is a MAJOR prototype, don't expect data to stay around. Databases may be wiped WITHOUT notification and ALL data will be removed.</p>
        <div class="container-fluid" data-bind="page: activePage">
        </div>
        <div data-bind="dialog: activeDialog" class="modal fade"></div>
    </div>

    <!-- Load scripts -->
    <script type="text/javascript" src="~/Scripts/signals.js"></script>
    <script type="text/javascript" src="~/Scripts/crossroads.js"></script>
    <script type="text/javascript" src="~/Scripts/hasher.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.8.18.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/knockout.debug.js"></script>
    <script type="text/javascript" src="~/Scripts/modernizr-2.5.3.js"></script>
    <script type="text/javascript" src="~/js/knockout.validation.js"></script>
    <script type="text/javascript" src="~/js/rR.js"></script>
    <script type="text/javascript" src="~/js/rR.models.js"></script>
    <script type="text/javascript" src="~/js/rR.app.js"></script>
    <script type="text/javascript" src="~/js/rR.vm.auth.js"></script>
    <script type="text/javascript" src="~/js/rR.vm.home.js"></script>

    <!-- Templates -->
    <script id="v:auth.login" type="text/html">
        @RenderPage("Views/Auth/_Login.cshtml")
    </script>
    <script id="v:auth.register" type="text/html">
        @RenderPage("Views/Auth/_Register.cshtml")
    </script>
    <script id="v:home.index" type="text/html">
        @RenderPage("Views/Home/_Index.cshtml")
    </script>

    <!-- Start! -->
    <script type="text/javascript">
    rR.app.start({
        root: '@root',
        env: '@env',
        user: @Html.Raw(userString)
    });
    </script>
</body>
</html>