<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AspNetWebApi" version="4.0.20126.16343" />
  <package id="AspNetWebApi.Core" version="4.0.20126.16343" />
  <package id="EntityFramework" version="5.0.0-beta2" />
  <package id="Moq" version="4.0.10827" />
  <package id="Newtonsoft.Json" version="4.5.3" />
  <package id="Pavlov" version="0.3.0" />
  <package id="System.Json" version="4.0.20126.16343" />
  <package id="System.Net.Http" version="2.0.20126.16343" />
  <package id="System.Net.Http.Formatting" version="4.0.20126.16343" />
  <package id="System.Web.Http.Common" version="4.0.20126.16343" />
  <package id="xunit" version="1.9.0.1566" />
  <package id="xunit.extensions" version="1.9.0.1566" />
</packages>