<form data-bind="submit: login">
    <hgroup class="modal-header">
        <h1>Login.</h1>
        <h2>Who are you?</h2>
    </hgroup>
    <div class="modal-body">
        <div class="alert alert-error" data-bind="visible: hasMessage, text: errorMessage"></div>
        <div class="form form-horizontal">
            <ol>
                @Controls.Email("Email address:", "email")
                @Controls.Password("Password:", "password")
                @Controls.Checkbox("Remember me:", "rememberMe", validation: false)
            </ol>
        </div>
    </div>
    <footer class="modal-footer">
        <button class="btn pull-right" data-bind="click: close, disabled: loading" type="button">Close</button>
        <button class="btn btn-primary pull-right" data-bind="disabled: loading">Login</button>
    </footer>
</form>