<form>
    <hgroup class="modal-header">
        <h1>Add an iteration.</h1>
        <h2>Upload your codez!</h2>
    </hgroup>
    <div class="modal-body">
        @*<div class="alert alert-error" data-bind="visible: hasMessage, text: errorMessage"></div>*@
        <div class="form form-horizontal">
            <ol>
                @Controls.Textarea("Description", "description", helpText: "Describe your changes", validation: false)
            </ol>
        </div>
    </div>
    <footer class="modal-footer">
        <button class="btn pull-right" data-bind="click: close" type="button">Close</button>
        <button class="btn btn-primary pull-right">Upload</button>
    </footer>
</form>